.root{
	-fx-background-color: white;
	-fx-font-size: 18px;
}

.navigation{
	-fx-background-color: #0080ff;
	
}

.navigation Label{
	-fx-font-size: 40px;
	-fx-text-fill: white;
	-fx-padding: 40px;
}

.navigation Button{
	-fx-background-color: transparent;
	-fx-pref-height: 40px;
	-fx-pref-width: 230px;
	-fx-font-size: 18px;
	-fx-border: none;
	-fx-background-radius: 5px;
	-fx-text-fill: white;
}

.navigation .active{
	-fx-background-color: rgba(0, 0, 0, 0.1);
}

.navigation Button:hover{
	-fx-background-color: rgba(0, 0, 0, 0.1);
}

.note{
	-fx-background-color: #e6e6e6;
	-fx-background-radius: 5px;
	-fx-min-width: 200px;
	-fxmin-height: 20px;
	-fx-padding: 20px;
}

.note .note-title{
	-fx-font-weight: bold;
}
.tool-bar {
	-fx-base: #0080ff;
    -fx-font-size: 12pt;
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom,  #0080ff);
   
}