.root{
	-fx-background-color: black;
	-fx-text-fill: white;
}

.menu{
	-fx-background-color: #0072e6;
}

.menu Button{
	-fx-text-fill: white;
}

.menu Button:hover{
	-fx-background-color: rgba(0, 0, 0, 0.2);
}

.navigation{
	-fx-background-color: #0d0d0d;
}

.navigation Label{
	-fx-text-fill: white;
}

.navigation Button{
	-fx-text-fill: white;
}

.navigation Button:hover{
	-fx-background-color: rgba(0, 0, 0, 0.1);
}

.header Label{
	-fx-text-fill: white !important;
}

.header Label{
	-fx-text-fill: white;
}

.header Button{
	-fx-background-color: #1a1a1a;
	-fx-text-fill: white;
}

.header Button:hover{
	-fx-background-color: #0072e6;
}

.content{
	-fx-background-color: black;
}

.content Label{
	-fx-text-fill: black;
}

.contentscroll{
	-fx-background-color: black;
}

.card{
	-fx-background-color: #0d0d0d;
}

.card Label{
	-fx-text-fill: white;
}

.card:hover{
	-fx-background-color: #1a1a1a;
}

#list Label{
	-fx-text-fill: white;
}

#list Button{
	-fx-background-color: #0072e6;
	-fx-text-fill: white;
}

TextField{
	-fx-border-color: #0d0d0d;
	-fx-text-fill: white;
}

TextField:hover, TextField:active{
	-fx-border-color: #0072e6; 
}

TextArea{
	-fx-border-color: #0d0d0d;
}

TextArea:hover, TextField:active{
	-fx-border-color: #0072e6; 
}

Button{
	-fx-background-radius: 5px;
	-fx-background-color: #0072e6;
	-fx-text-fill: white;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
 	-fx-background-color: #0d0d0d;
 
}

#editor{
	-fx-border-color: black;
}

#delete{
	-fx-background-color: red;
}