.root{
	-fx-background-color: white;
}

#menu{
	-fx-background-color: #0072e6;
}

#content{
	-fx-background-color: #ffffff;
}

#content Label{
	-fx-text-fill: #000000;
}

#menu #menutitle{
	-fx-background-color: transparent;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 0;
	-fx-font-size: 30px;
	-fx-padding: 40px 40px 40px 40px;
}

#menu #menuitem{
	-fx-background-color: transparent;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 0;
	-fx-font-size: 17px;
	-fx-padding: 0 40px 0 40px;
}

#menu #menuitem:hover{
	-fx-background-color: rgba(0, 0, 0, 0.1);
}

#content{
	-fx-padding: 40px;
}

#window{
	-fx-background-color: #e6e6e6;
}

#window Button{
	-fx-background-color: transparent;
}

#widget{
	-fx-background-color: rgba(0, 0, 0, 0.1);
	-fx-background-radius: 20px;
	-fx-padding: 20px;
}

#widget{
	-fx-background-color: rgba(0, 0, 0, 0.1);
	-fx-background-radius: 20px;
	-fx-padding: 10px 20px;
}

#widget:hover{
	-fx-background-color: rgba(0, 0, 0, 0.2);
}