.root{
	-fx-background-color: white;
	-fx-text-fill: black;
}

#navigation{
	-fx-background-color: #0072e6;
}

#contentscroll{
	-fx-background-color: #ffffff;
}

#content{
	-fx-background-color: #ffffff;
}

#content Label{
	-fx-text-fill: #000000;
}

#navigation #navigationtitle{
	-fx-background-color: transparent;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 0;
	-fx-font-size: 30px;
	-fx-padding: 50px 40px;
}

#navigation #navigationitem{
	-fx-background-color: transparent;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 0;
	-fx-font-size: 17px;
	-fx-padding: 0 40px 0 40px;
}

#navigation #navigationitem:hover{
	-fx-background-color: rgba(0, 0, 0, 0.1);
}

#headeritem{
	-fx-font-size: 15px;
	-fx-background-color: #e6e6e6;
}

#headeritem:hover{
	-fx-background-color: #cccccc;
}

#content{
	-fx-padding: 50px 75px;
}

#window{
	-fx-background-color: #e6e6e6;
}

#window Button{
	-fx-background-color: transparent;
}

#widget{
	-fx-background-color: rgba(0, 0, 0, 0.1);
	-fx-background-radius: 20px;
	-fx-padding: 20px;
}

#widget{
	-fx-background-color: rgba(0, 0, 0, 0.1);
	-fx-background-radius: 10px;
	-fx-padding: 10px 20px;
}

#widget:hover{
	-fx-background-color: rgba(0, 0, 0, 0.2);
}

#list{
	-fx-text-fill: #000000;
	-fx-font-size: 16px;
	-fx-pref-height: 20px;
}

#list Button{
	-fx-background-color: #e6e6e6;
	-fx-background-radius: 5px;
	-fx-min-width: 80px;
	-fx-text-fill: #000000;
	-fx-font-size: 16px;
	-fx-pref-height: 20px;
}

#list Button:hover{
	-fx-background-color: #0072e6;
}

#dialog ToolBar Button{
	-fx-pref-height: 30px;
	-fx-pref-width: 60px;
}