.root{
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.navigation{
	-fx-background-color: #0072e6;
}

.navigation Label{
	-fx-background-color: transparent;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 0;
	-fx-font-size: 30px;
	-fx-padding: 50px 40px;
}

.navigation Button{
	-fx-background-color: transparent;
	-fx-text-fill: #ffffff;
	-fx-background-radius: 0;
	-fx-font-size: 18px;
	-fx-padding: 0 40px 0 40px;
}

.navigation Button:hover{
	-fx-background-color: rgba(0, 0, 0, 0.1);
}

.header Button{
	-fx-font-size: 15px;
	-fx-background-color: #e6e6e6;
	-fx-text-fill: black;
}

.header Button:hover{
	-fx-background-color: #cccccc;
}

.content{
	-fx-background-color: #ffffff;
}

.content Label{
	-fx-text-fill: #000000;
}

.contentscroll{
	-fx-background-color: #ffffff;
}

.card{
	-fx-background-color: rgba(0, 0, 0, 0.1);
	-fx-background-radius: 10px;
	-fx-padding: 10px 20px;
}

.card:hover{
	-fx-background-color: rgba(0, 0, 0, 0.2);
}

.card Button{
	-fx-background-color: transparent;
	-fx-min-height: 30px;
	-fx-min-width: 60px;
}

.dialog ToolBar{
	-fx-background-color: transparent;
}

#list{
	-fx-text-fill: #000000;
	-fx-font-size: 16px;
	-fx-pref-height: 30px;
}

#list Button{
	-fx-background-color: #0072e6;
	-fx-min-width: 80px;
	-fx-text-fill: white;
}

TextField{
	-fx-border-radius: 5px;
	-fx-border-color: #cccccc;
	-fx-border-width: 2px; 
}

TextField:hover, TextField:active{
	-fx-border-color: #0072e6; 
}

TextArea{
	-fx-padding: 0px !important;
	-fx-border-radius: 5px;
	-fx-border-color: #cccccc;
	-fx-border-width: 2px; 
}

TextArea:hover, TextField:active{
	-fx-border-color: #0072e6; 
}

Button{
	-fx-background-radius: 5px;
	-fx-min-height: 30px;
	-fx-min-width: 60px;
	-fx-font-size: 15px;
	-fx-background-color: #0072e6;
	-fx-text-fill: white;
}

.scroll-bar:horizontal , .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button , .decrement-button {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .track , .scroll-bar:vertical .track{
     -fx-background-color: transparent;
     -fx-max-width: 2px;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
 	-fx-background-color: #cccccc;
 
}

.scroll-bar:horizontal:hover .track ,
.scroll-bar:horizontal:pressed .track ,
.scroll-bar:vertical:hover .track ,
.scroll-bar:vertical:pressed .track{
     -fx-background-color: #ff0000;
 
}

#delete{
	-fx-background-color: red;
}