@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* body */

html {
    scroll-behavior: smooth;
}

body {
    font-family:'Roboto', sans-serif;
    background-color: #ffffff;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
}

::selection {
    background: #000000;
    color: #ffffff;
}

/* header */

.header{
    padding: 40px;
    z-index: 2;
    color: white;
    font-size: 40px;
    background-color: #1a1a1a;
}

@media screen and (max-width: 768px) {.header{display: none;}}

/* menu */

.menu{
    position: absolute;
    box-sizing: border-box;
    line-height: 50px;
    width: 100%;
    padding: 0 6px;
    z-index: 2;
    background-color: #000000;
    overflow-x: hidden;
    overflow: hidden;
}

.menu a{
    font-size: 18px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    float: left;
    padding: 0 6px;
}

.menu a:hover{
    color: #ffffff;
    cursor: pointer;
}

.menu-active{
    color: #ffffff !Important;
}

.menu-title{
    color: #ffffff !Important;
    width: 240px;
}

.menu-transparent{
    background-color: transparent;
    position: absolute;
}

.menu-fixed{
    position: fixed;
}

.menu-sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.menu-right a{
    float: right;
}

.menu button{
    margin: 10px;
    color: #000000;
    background-color: #ffffff;
}

.menu dropdown{
    font-size: 18px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    float: left;
    padding: 0 10px;
}

.menu dropdown:hover{
    color: #ffffff;
}

/* navigation */

.navigation{
    position: fixed;
    display: block;
    left: 0;
    height: 100%;
    width: 250px;
    color: black;
    border-right: 2px solid #e6e6e6;
}

.navigation h2{
    display: block;
    width: 100%;
    padding: 40px;
    margin: 0px;
    line-height: 40px;
}

.navigation a{
    text-decoration: none;
    display: block;
    padding: 0 40px;
    line-height: 40px;
    font-size: 17px;
    color: black;
}

.navigation a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.navigation a:active, .navigation a:visited{
    color: black;
}

.navigation-content{
    margin-left: 250px;
}

.navigation-absolute{position: absolute;}
.navigation-absolute div{position: sticky; top: 50px;}

@media screen and (max-width: 768px) {.navigation{display: none;}}
@media screen and (max-width: 768px) {.navigation-content{margin-left: 0;}}

/* document */

.document{
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 40px;
    width: 60%;
    margin: 100px auto;
    box-shadow: 0px 1px 4px 1px #cccccc;
}

@media screen and (max-width: 1024px) {.document{width: 80%;}}
@media screen and (max-width: 768px) {.document{width: 90%;}}
    
/* container */

.container{
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 40px;
    width: 60%;
    margin: 0 auto;
}

.container-fluid{
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 40px;
}

.container-shadow{
    border-radius: 5px;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {.navigation-content .container{width: 100%}}
@media screen and (max-width: 768px) {.container{width: 100%;}}


/* grids */

.row::after {
    box-sizing: border-box;
    content: "";
    clear: both;
    display: table;
    margin-bottom: 20px;
}

[class*="col-"] {
    box-sizing: border-box;
    float: left;
}
        
[class*="col-"] {
    box-sizing: border-box;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}

/* headlines */

h1{
    font-weight: 400;
    margin: 00px 0px 20px 0px;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 40px 0px 20px 0px;
}

h1{font-size: 40px;}
h2{font-size: 30px;}
h3{font-size: 25px;}
h4{font-size: 20px;}
h5{font-size: 18px;}
h6{font-size: 16px;}

/* elements */

p{
    margin-bottom: 25px;
}

a{
    text-decoration: none;
    color: #0072e6;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    margin-bottom: 20px;
}

video{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    margin-bottom: 20px;
}

.youtube iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtube{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

audio{
    width: 100%;
    margin-bottom: 20px;
}

.button{
    display: inline-block;
    min-width: 60px;
    padding: 15px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px;
    background-color: #0072e6;
}